.service {
    padding: 20px;
    padding-bottom: 0px;

    &-a {
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $white;
        opacity: 0.5;
        display: inline-block;
        text-align: center;
        margin-top: 27px;

        &:hover {
            color: $pink;
            opacity: 1;
            transition-duration: 0.5s;
            transition-property: color, opacity;

            & path {
                stroke: $pink;
                transition-duration: 0.5s;
                transition-property: stroke;
            }
        }
    }

    &__header {
        font-size: 32px;
        line-height: 38px;
        color: $pink;
        margin-top: 3px;

    }
}

.services-flex {
    display: flex;
    flex-direction: column;
    padding: 20px 0;

    &__item {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;

        & a {
            font-size: 18px;
            line-height: 21px;
            color: $blue;
            padding-left: 10px;
            cursor: pointer;
            text-transform: none;
            opacity: 1;
            padding-left: 12px;

            &:hover {
                color: $pink;
                transition-duration: 0.5s;
                transition-property: color;
            }
        }
    }

    &__head {
        font-size: 18px;
        line-height: 21px;
        color: $blue;
        cursor: pointer;
        font-weight: bold;

        &:hover {
            color: $pink;
            transition-duration: 0.5s;
            transition-property: color;
        }
    }

    &__text {
        padding-top: 10px;
        font-size: 16px;
        line-height: 22px;
        color: $white;
    }

}

@media (min-width: 768px) {
    .service {
        padding: 20px 0 0;

        &_a {
            padding-left: 1px;
        }

        &__header {
            font-weight: bold;
            font-size: 42px;
            line-height: 50px;
            margin-bottom: 17px;
        }
    }

    .big-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 -20px;
    }

    .services-flex {
        width: 33.333%;
        margin: 30px 0;
        padding: 0 20px 0px 0;

        &__text {
            padding-left: 20px;
            padding-right: 20px;
        }

        &__item {
            flex-direction: column;
            align-items: flex-start;
            padding: 20px 20px 0 20px;

            & a {
                font-size: 24px;
                line-height: 28px;
                padding-left: 0;
            }

            & img {
                width: 92px;
                height: 92px;
            }
        }

        &__head {
            padding: 23px 0px 5px;

        }
    }
}
